@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --mainColor: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --veryDarkBlue: hsl(220, 13%, 13%);
  --darkGrayishBlue: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

ul {
  list-style: none;
}

nav {
  width: 100%;
  z-index: 1;
  position: fixed;
}

.navbar,
.left-nav,
.right-nav,
.arrows,
.prices,
.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  background-color: var(--white);
  padding: 20px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  border-bottom: 1px solid var(--grayishBlue);
  /* box-shadow: 0 0 10px var(--grayishBlue); */
}

.left-nav,
.right-nav {
  gap: 20px;
}

.center-nav {
  display: none;
}

.avatar {
  width: 30px !important;
}

.hero {
  position: relative;
  top: 70px;
  overflow: hidden;
}

#shoe {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.arrows {
  width: 100%;
  position: absolute;
  top: 45%;
  padding: 0 10px;
}

.arrows img {
  background-color: var(--white);
  padding: 12px 15px;
  border-radius: 50%;
}

.thumbnails {
  display: none;
}

.product-info {
  margin-top: 85px;
  padding: 0 20px;
}

.product-info h3 {
  color: var(--mainColor);
  font-size: 12px;
  text-transform: uppercase;
}

.product-info h2 {
  font-weight: 700;
  margin: 15px 0;
}

.product-info p {
  color: var(--darkGrayishBlue);
  font-size: 13px;
  line-height: 1.5;
}

.prices,
.counter {
  padding: 20px;
}

.prices p {
  font-weight: 700;
  color: var(--black);
  font-size: 24px;
  display: flex;
}

.prices span {
  color: var(--mainColor);
  background-color: var(--paleOrange);
  font-size: 14px;
  padding: 5px;
  border-radius: 3px;
  margin-left: 8px;
}

.prices s {
  color: var(--darkGrayishBlue);
  font-weight: bold;
}

.bottom {
  padding: 0 20px;
  margin-bottom: 30px;
}
.counter,
.bottom button {
  border-radius: 10px !important;
}

.counter {
  background-color: var(--lightGrayishBlue);
}

.counter span {
  font-weight: 700;
}

.bottom button {
  all: unset;
  width: 100%;
  margin: 20px 0;
  gap: 10px;
  background-color: var(--mainColor);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  box-shadow: 0px 3px 20px 0 hsl(26, 100%, 55%, 0.5);
  cursor: pointer;
}

/* .bottom .add:hover {
  background: aqua;
  font-size: 24px;
} */

@media screen and (min-width: 768px) {
  .container {
    padding: 100px 20px;
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .arrows {
    top: 32%;
  }

  .product-info {
    margin-top: 70px;
  }

  #shoe {
    border-radius: 20px;
  }
}

@media screen and (min-width: 1024px) {
  #ham,
  .arrows {
    display: none;
  }

  .hero,
  .center-nav,
  .thumbnails {
    display: flex;
  }

  .center-nav {
    width: 40%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 0 50px;
    color: var(--darkGrayishBlue);
    font-weight: 700;
  }

  /* .container {
    padding-bottom: 0;
  } */

  .hero,
  .thumbnails {
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  .hero {
    flex-direction: column;
    top: 0;
    gap: 20px;
    & img {
      cursor: pointer;
    }
  }

  .shoe {
    width: 60%;
    margin: 0 auto;
  }

  .shoe img {
    width: 100%;
  }

  .thumbnails {
    gap: 25px;
  }

  .thumbnails img {
    width: 90px;
    border-radius: 15px;
  }

  .thumbnails #fade {
    border: 2px solid var(--mainColor);
    opacity: 0.6;
  }

  .thumbnails img:active {
    opacity: 0.6;
    border: 2px solid var(--mainColor);
  }

  .product-info h2{
    width: 60%;
    font-size: 2rem;
  }

  .product-info p {
    width: 80%;
    font-size: 1rem;
  }

  .prices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .bottom {
    display: flex;
    gap: 20px;

    & .counter {
      flex: 1 1 20%;
    }
    
    & .add {
      flex: 1 1 50%;
    margin: 0;
   }
  }
}
